@import url('https://fonts.googleapis.com/css?family=Lora|Roboto:300');
* {
	box-sizing: border-box;
	margin: 0;	
	padding: 0;
}
body {
	 font-size: 16px; /*1em=16px*/
	 text-align: center;
}
h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
	font-weight: normal;
	letter-spacing: .5em;
}
p {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	line-height: 1.5em;
	margin: 2em auto;
	width: 30em;

}
hr {
	border: none;
	height: 2px;
	background-color: #8DC9C9;
	width: 45em;
	margin: 2em auto;
}
.nav a {
	color: black;
	font-family: 'Roboto' sans-serif;
	letter-spacing: .5em;
	margin: 2em;
	text-decoration: none;
}
#home {
	background: url(images/background.jpg);
	background-size: cover;
	color:#fff;
	height: 97vh;
	padding-top: 10em;
}
#home a {
	border: 2px solid;
	color: white;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
	margin: 3em 1em;
	opacity: 0.8;
	padding: 1em 0;
	text-decoration: none;
	width: 10em;
}
#home img {
	opacity: 0.8;
	padding-bottom: 1em;
	width: 35em;
}
#about {
	line-height: 3em;
}
#about h1 {
	padding-top: 3em;
}
#about h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	font-weight: normal;
	letter-spacing: .5em;
}
#about h3 {
	color: #8DC9C9;
	font-family: 'Lora', serif;
	font-weight: normal;
	letter-spacing: 3px;
}
#about img {
	width: 100vw;
	opacity: 0.6;
}
#about span {
	color: #8DC9C9;
}
#gallery h1 {
	padding: 0 2em 1em 1em;
	text-align: left;
}
#contact h2 {
	color: #8DC9C9;
	font-family: 'Lora', serif;
	font-size: 1em;
	font-weight: normal;
	letter-spacing: .5em;
}
#contact {
	line-height: 3em;
}
#contact img {
	width: 4em;
	margin: 2em;
}
#here {
	border-bottom: 1px solid #000;
	color: #000;
	text-decoration: none;
}