@font-face {
	font-family: montserat-r;
	src: url(fonts/Montserrat-Regular.otf);
}
@font-face {
	font-family: montserat-l;
	src: url(fonts/Montserrat-ExtraLight.otf);
}
@import url('https://fonts.googleapis.com/css?family=Lora');
* {
	box-sizing: border-box;
	margin: 0;	
	padding: 0;
}
body {
	 font-size: 20px; /*1em=16px*/
	 text-align: center;
}
header {
	background: url(images/background.jpg);
	background-size: cover;
}
header img {
	border: 2px solid white;
	margin: 6%;
	padding: 2%;
	opacity: 0.8;
	width: 40%;
}
h1 {
	font-family: 'montserat-r', sans-serif;
	font-size: 2em;
	font-weight: normal;
	letter-spacing: .5em;
}
p {
	font-family: 'montserat-l', sans-serif;
	margin: auto;
}
footer {
	clear: both;
}
footer h2{
	color: #52adad;
	font-family: 'Lora', serif;
	font-size: 1em;
	font-weight: normal;
	letter-spacing: .5em;
	padding-top: 2em;
}
footer img {
	width: 4em;
	margin: 2em 2em 1em 2em;
	padding-top: 2em;
}
#header_nav {
	text-align: center;
	border: none;
	margin: 1.5em;
}
#header_nav a {
	color: black;
	font-family: 'montserat-l', sans-serif;
	text-decoration: none;
	padding: 4em;
}
#header_nav a:hover {
	color: #52adad;
}



#contact {
	clear: both;
}
#contact h1 {
	padding: 1em;
}
#contact h2 {
	color: #52adad;
	font-family: 'Lora', serif;
	font-size: 1em;
	font-weight: normal;
	letter-spacing: .5em;
	padding: 1em;
}
#contact p {
	padding: 1em;
	width: 30em;
}
#contact img {
	width: 4em;
	margin: 2em;
}
#here {
	border-bottom: 1px solid #000;
	color: #000;
	text-decoration: none;
}
#footer_nav a:hover {
	color: #52adad;
}
#footer_nav {
	border-top: 2px solid #52adad;
	border-bottom: 2px solid #52adad;
	clear: both;
	display: inline-block;
	margin: 3em 3em 6em 3em;
}
#footer_nav a {
	color: black;
	display: block;
	font-family: 'montserat-l' sans-serif;
	float: left;
	letter-spacing: .5em;
	padding: 2em;
	text-decoration: none;
}
.icons img {
	width: 10%;
}
.link_images img {
	width: 50%;
}

.clearfix:after {
	display: block;
	content: " ";
	clear: both;

	height: 0;
	font-size: 0;
	visibility; hidden;
}