* {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}
body {
	 /* background: url("images/background.jpg"); */
	 /* background-size: cover; */
	 /* color: white; */
	 font-family: helvetica;
	 text-align: center;
}
header{
	height:0;
}
section {
	padding:5em 0;
}
h1 {
	font-size: 75px;
	line-height: .80;
	text-align: center;
}
h1 span {
    font-size: 1.18em;
    color: orange;
}

nav a {
	color: white;
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	margin-top: 1em;
	padding: 1em 0;
	border: 2px solid;
	width: 10em;
	text-decoration: none;
}
ul {
	font-size: 20px;
	list-style-type: none;
	margin: 30px;
}
#about {
	background: url(images/background.jpg);
	background-size: cover;
	color:#fff;
	height: 90vh;
	padding: 20em 0 0;
}
#about p {
	font-size: 24px;
	font-style: italic;
	margin-top: 30px;
}

#email {
	color: white;
}
#contact {
    background: #222;
    color: #fff;
}
.logo {
	/* padding-top: 60px; */
	width: 5em;
}
