* {
	padding: 0;
	margin: 0;
}
body {
	 background: url("images/background.jpg");
	 background-size: cover;
	 color: white;
	 font-family: helvetica;
	 text-align: center;
}
.logo {
	padding-top: 60px;
	width: 150px;
}
h1 {
	font-size: 75px;
	margin: 30px;
	text-align: center;
}
#menu {
	color: white;
	font-size: 20px;
	font-style: bold;
	padding: 50px;
}
#about {
	font-size: 24px;
	font-style: italic;
	margin: 30px;
}
ul {
	font-size: 20px;
	list-style-type: none;
	margin: 30px;
}
#email {
	color: white;
}
